<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset #title}{include title|striptags} | {/ifset}Nette Plupload test</title>
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link rel="stylesheet" href="../../src/public/css/nette.plupload.css">

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	{block head}{/block}
</head>

<body>
<script> document.documentElement.className += ' js' </script>

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

<div id="container">
	{include content}
</div>

<script src="../../src/public/js/plupload.full.min.js"></script>
<script src="../../src/public/js/langs/cs.js"></script>
<script src="../../src/public/js/jquery.nette.plupload.js"></script>
</body>
</html>
