{block head}
	{include parent}
{/block}

{block content}
	{form uploadForm}
		<h1>Test upload</h1>
		{input plupload}

		<br>

		{input text}
		{input submit}
	{/form}
{/block}

{block scripts}
	{include parent}

{/block}
